<a href="https://colab.research.google.com/github/natchanon-me/pythonDatascience/blob/master/introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python basic

**test : "Hello World"**

*Note : Short Key for run --> Ctrl + Enter*

In [1]:
print("Hello World")

Hello World

**Test : Input**

In [8]:
something = input("Please input your something : ")
print("Your something is : " + something)

#Type casting
print(int(something))

something_int = int(something)
print(something_int)

Please input your something : 10
Your something is : 10
10
10

In [11]:
#Debug Part
print(type(something))
print(type(something_int))

<class 'str'>
<class 'int'>

**Topic : Data Structures for python**.

LIST

In [0]:
# List
# List can operate basic operation (add, subtract, multiply, divide)
students = ["Few", "Fern", "Da"] #This is List (I thought is call "Array" ? Hmm.. Maybe the same thing)
ages = [25, 34, 54]

In [16]:
students[0] #This actually Array. Haha

'Few'

In [17]:
len(students) #To find a size of array and other data structure

3

In [21]:
students[0 : 3] #Syntax for extract specific data except the last element

['Few', 'Fern', 'Da']

In [34]:
ages.append(80);
print(ages[len(ages)-1])
ages.append(90);
print(ages[len(ages)-1])
ages.append(100);
print(ages[len(ages)-1])
ages

80
90
100

[25, 34, 54, 80, 90, 100]

TUPLES

In [35]:
#Tuples # similar to list but it's constant size & cannot assign new item (cannot change existing item)
#Use () instead []

teachers = ("Sommai", "Saimom") 
teachers[0 : 2]

# teachers[0] = "New"  #Tuple not support this activity

test = (12, 'AC', 13,35) #tuple can hold various data types

#tuple can operate basic operation (add, subtract, multiply, divide)

('Sommai', 'Saimom')

DICTIONARY (Dict)

In [39]:
# Store data as a key value :::: (key:value)
# use {} # Focus on *Key*
# Cannot use index to accessing data

few = {'name' : 'Natchanon', 'height' : 176, 'weight' : 62, 'age' : 23}
print(few['name'])
#Can assign new data or adding new information

few['name'] = 'Sephiroth'
print(few['name'])

few['Surname'] = 'Aerith'
print(few['Surname'])

few

Natchanon
Sephiroth
Aerith

{'Surname': 'Aerith',
 'age': 23,
 'height': 176,
 'name': 'Sephiroth',
 'weight': 62}

In [40]:
del few['weight']
few

{'Surname': 'Aerith', 'age': 23, 'height': 176, 'name': 'Sephiroth'}

SET (Rarely use)

In [41]:
#use {}
#no key value
#List and tuple can casting to set by 'set(list)' **Duplicate data will be deleted

height = [170, 181, 154, 158, 147, 170, 181, 158] #Here is list
height_unique = set(height)
height_unique

{147, 154, 158, 170, 181}

In [0]:
#Add new data :: set.add()
#Remove existing data :: set.remove()
#cannot assign new existing data
#Cannot access data via index # using loop to accessing data

#union use set1|set2
#intersection use set1&set2

**FUNCTION ; CLASS ; OBJECT**

Lambda Function

In [48]:
#Shortcut to create function  #anonymous function
#SYNTAX :: -------->  lambda argument(s): expression

cube = lambda x: x*x*x
print('{:.2f}'.format(cube(3)))

27.00

In [49]:
mean = lambda x1,x2,x3 : (x1 + x2 + x3)/3
print(mean(2,3,4))

3.0

Basic Function

In [52]:
# using " Def " word to define function
def mean_of_number(x1, x2, x3) :
  sum = x1 + x2 + x3
  return sum/3

print(mean_of_number(5,6,7))

6.0

Print Variables :: ----> Format

In [59]:
# Using .format in print (This look like %d, %e in C language)

My_Name = 'Natchanon'
My_LastName = 'Suvi'
print("My name is : " + My_Name + " " + My_LastName)

#.format

print("My name is {} and my last name is {}".format(My_Name, My_LastName))

My name is : Natchanon Suvi
My name is Natchanon and my last name is Suvi

Membership operators

In [60]:
# in & not in
list1 = [1, 2, 3, 4]
a = 1
b = 6

print(a in list1)
print(b in list1)

True
False

In [64]:
#Identity operators -----> is & is not
#The meaning of this operator is the same as == and !=
x = 10
y = 20
z = 10
print(x is y)
print(type(x) is type(y))
print(x is z)

False
True
True

Nested List

In [69]:
#Nested Array

data1 = ['weight1', 'weight2']
data2 = ['weight3', 'weight4']
data3 = ['weight5', 'weight6']

data_all = [data1, data2, data3]
print(len(data_all))

print(data_all[0])
print(data_all[0][0])

print(data_all[0][1])
print(data_all[1][1])

3
['weight1', 'weight2']
weight1
weight2
weight4

**IF STATEMENT**

In [75]:
# SYNTAX ---> if elif else

money = int(input("Input your money range 0-5000 : "))
# money = int(money)
if (money < 1000) :
  print("Hmm. So poor")
elif (money >= 1000 and money < 2000) :
  print("Hmm. Moderate")    
else :
  print("Wow. So rich")

Input your money range 0-5000 : 2500
Wow. So rich

**Repetition Loop in python**

While loop

In [78]:
count = 0
while (count < 10) :
  print(count)
  count += 1
print("Finished")

0
1
2
3
4
5
6
7
8
9
Finished

For loop

In [84]:
# Loop in defined list
for i in [1,2,3]:
  print(i)
print("################")
# Print character in string
for item in 'Test':
  print(item)
print("################")
# Loop for any range ------> range arguments : range(start, end, increment)
for i in range(2):
  print(i)
print("################")
for i in range(1, 15, 3):
  print(i)
print("################")

1
2
3
################
T
e
s
t
################
0
1
################
1
4
7
10
13
################